ul.navbar{
  background-color: #FAF0CA;
  padding: 0;
  margin:0;
  list-style:none;
  float:left;
  width: 100%;
  overflow: hidden;
}

ul.navbar li{
  float: left;
  border-right: 2px solid #F95738;
}

ul.navbar li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  padding: none;
  color: #F95738;
  font-weight: bold;
}

ul.navbar li a:hover{
  background-color: #F4D35E;
}

.movies{
  list-style:circle;
  color:black;
  
}